<div class="col-12 d-flex">
  <div class="col">
    <header class="d-flex justify-content-between">
      <h2 class="col-md-10 p-0">
        Editar Factura
      </h2>
      <button mat-icon-button class="mx-3" [matMenuTriggerFor]="menu">
        <mat-icon style="cursor:pointer">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="d-flex flex-column bd-highlight p-2" style="width:10rem">
          <div class="d-flex bd-highlight">
            <i class="fa fa-trash" (click)="delete()"></i>
            <p style="margin-left:1em">Eliminar</p>
          </div>
          <div class=" d-flex bd-highlight">
            <i class="material-icons" (click)="openDialogTracking()" style="color:black; font-size: 15px;">timeline</i>
            <p style="margin-left:.7em">Detalles</p>
          </div>
          <div class=" d-flex bd-highlight">
            <mat-icon style="cursor:pointer; font-size: 15px;">settings</mat-icon>
            <p>Ajustes</p>
          </div>
        </div>
      </mat-menu>
    </header>
    <div>
      <form (ngSubmit)="registerInvoice()" autocomplete="off" [formGroup]="invoiceForm">
        <div class="col-12 d-flex">
          <div class="col-7 pe-2">
            <label>Tipo de movimiento</label>
            <mat-form-field class="w-100" appearance="outline">
              <mat-select matInput formControlName="movement_type" placeholder="Selecciona el tipo de movimiento">
                <mat-option *ngFor="let item of movements" [value]="item._id">{{item.name_movement}}</mat-option>
              </mat-select>
              <mat-error *ngIf="invoiceForm.controls['movement_type'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-5">
            <label>No. Factura</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput formControlName="key_invoice" placeholder="Indica # de factura" />
              <mat-error *ngIf="invoiceForm.controls['key_invoice'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-7 pe-2">
            <label>Cliente</label>
            <mat-form-field class="w-100" appearance="outline">
              <input type="text" class="w-100" matInput formControlName="client" [matAutocomplete]="search"
                placeholder="Ingresa un cliente" />
              <mat-autocomplete autoActiveFirstOption #search="matAutocomplete"
                (optionSelected)="opcionSeleccionada($event)" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">{{option.key_client}} - {{
                  option.name}}
                </mat-option>
                <mat-option value="" *ngIf="filteredOptions.length <= 0 && this.invoiceForm.controls['client'].value">
                  No se encontró nada con el término {{invoiceForm.controls['client'].value}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="invoiceForm.controls['client'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-4 pe-2">
            <label>Fecha carga</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput [matDatepicker]="picker1" formControlName="upload_date"
                placeholder="Selecciona una fecha" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="invoiceForm.controls['upload_date'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4 pe-2">
            <label>Fecha factura</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput [matDatepicker]="picker" formControlName="invoice_date"
                placeholder="Selecciona una fecha" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="invoiceForm.controls['invoice_date'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <label>Fecha vencimiento</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput [matDatepicker]="picker2" formControlName="expiration_date"
                placeholder="Selecciona una fecha" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="invoiceForm.controls['expiration_date'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 d-flex my-4">
          <div class="col-7 pe-2">
            <label>Ceco</label>
            <mat-form-field class="w-100" appearance="outline">
              <input type="text" class="w-100" matInput formControlName="ceco" [matAutocomplete]="searchCeco"
                placeholder="Ingresa un ceco" />
              <mat-autocomplete autoActiveFirstOption #searchCeco="matAutocomplete"
                (optionSelected)="opcionSeleccionada($event)" [displayWith]="displayFnCeco">
                <mat-option *ngFor="let option of filteredOptionsCeco" [value]="option">{{option.key_ceco_business}} -
                  {{
                  option.name_short}}</mat-option>
                <mat-option value="" *ngIf="filteredOptionsCeco.length <= 0 && this.invoiceForm.controls['ceco'].value">
                  No se encontró nada con el término {{invoiceForm.controls['ceco'].value}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="invoiceForm.controls['ceco'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-7 pe-2">
            <label>Total de factura</label>
            <mat-form-field class="w-100" appearance="outline">
              <input matInput type="number" formControlName="invoice_total"
                placeholder="Indica el total de la factura" />
              <mat-error *ngIf="invoiceForm.controls['invoice_total'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-5 pe-2">
            <label>Divisa</label>
            <mat-form-field class="w-100" appearance="outline">
              <mat-select matInput formControlName="divisa" placeholder="Selecciona una divisa">
                <mat-option *ngFor="let item of divisas" [value]="item._id">{{item.abbreviation_divisa}}</mat-option>
              </mat-select>
              <mat-error *ngIf="invoiceForm.controls['divisa'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-12">
            <label>Descripcion</label>
            <mat-form-field class="w-100" appearance="outline">
              <textarea matInput formControlName="description" placeholder="Indica una descripcion"></textarea>
              <mat-error *ngIf="invoiceForm.controls['description'].hasError('required')">
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-dialog-actions align="end" class="mat">
          <div></div>
          <div>
            <button mat-stroked-button color="warn" routerLink="/invoice-clients">
              Cancelar
            </button>
            <button mat-raised-button class="mx-2 btn-save">
              Editar Factura
            </button>
          </div>
        </mat-dialog-actions>
      </form>
    </div>
  </div>



  <div class="col-4 mx-3" style="background:#E8E8E8; padding: .5em">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex">
        <div style="
              border-bottom: 3px solid blue;
              padding: 10px;
              padding-top: 0px;
              cursor: pointer;
            " (click)="viewNote()">
          Poner una nota
        </div>
        <div style="padding: 10px; padding-top: 0px; cursor: pointer" (click)="openDialogAddActivity()">
          <span>Actividades</span>
        </div>
      </div>
      <div [matMenuTriggerFor]="menu" style="display: flex; align-items: center; cursor: pointer">
        <img class="me-2" src="../../../../../assets/icons/Seguidor.svg" alt="" />
        <span class="">{{ followers.length }}</span>
      </div>
      <mat-menu #menu="matMenu" class="m-0 p-0 col-12">
        <div class="col-12">
          <button class="text-center" (click)="openDialogAddFollower()" mat-menu-item>
            Añadir seguidores
          </button>
          <div *ngFor="let item of followers; index as i" class="d-flex col-12 ps-4 mb-2">
            <div class="col me-2">
              <span>{{ getUser(item.user).name }}
                {{ getUser(item.user).last_name }}</span>
            </div>
            <div class="col-1 me-2">
              <i class="fa fa-edit"></i>
            </div>
            <div class="col-1 me-3">
              <i class="fa fa-trash" (click)="deleteFollower(i)"></i>
            </div>
          </div>
        </div>
      </mat-menu>
    </div>
    <div *ngIf="flagNote" class="mb-3">
      <div class="d-flex m-3 col-12" style="width: 100%">
        <div class="container-2">
          <div class="container-letter-name">
            <p class="letter-name">
              <strong>{{ letterNames }}</strong>
            </p>
          </div>
          <div class="container-avatar-1">
            <img class="avatar-color" alt="" />
          </div>
        </div>
        <div class="ms-3 col">
          <textarea type="text" [formControl]="formActivity" class="form-control"
            style="background-color: #e0e0e0; width: 100%" placeholder="Escribe una nota"></textarea>
        </div>
      </div>
      <div class="mx-3">
        <button class="btn-primary" mat-raised-button (click)="addNote()">
          ENVIAR
        </button>
      </div>
    </div>
    <div class="col-12" *ngIf="activitiesPlan.length > 0">
      <div class="d-flex col-12" style="align-items: center">
        <div class="col-3">
          <hr />
        </div>
        <div class="col text-center">
          <strong>Actividades planificadas</strong>
        </div>
        <div class="col-3">
          <hr />
        </div>
      </div>
      <div class="d-flex mb-3" *ngFor="let item of activitiesPlan">
        <div class="container-2 me-3">
          <div class="container-letter-name">
            <p class="letter-name">
              <strong>{{ getUserInitial(item.user) }}</strong>
            </p>
          </div>
          <div class="container-avatar-1">
            <img class="avatar-color" alt="" />
          </div>
        </div>
        <div>
          <div>
            <span class="me-2">Vence {{ item.date_expiration | date }}:</span>
            <span class="me-2"><strong>{{ item.type_activity }}</strong></span>
            <span class="">para {{ getUser(item.assignment).name }}
              {{ getUser(item.assignment).last_name }}</span>
          </div>
          <div class="d-flex">
            <div style="cursor: pointer" class="me-3" (click)="markActivityDone(item)">
              <i class="fa-solid fa-check"></i> Marcar como hecho
            </div>
            <div style="cursor: pointer" class="me-3" (click)="goToEditActivity(item)">
              <i class="fa-solid fa-pencil me-1"></i>Editar
            </div>
            <div style="cursor: pointer" class="" (click)="cancelActivity(item)">
              <i class="fa-solid fa-xmark me-1"></i>Cancelar
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex col-12" *ngFor="let item of history.reverse()">
        <div class="container-2 mb-3" *ngIf="item.status != 'DRAFT'">
          <div class="container-letter-name">
            <p class="letter-name">
              <strong>{{ getUserInitial(item.user) }}</strong>
            </p>
          </div>
          <div class="container-avatar-1">
            <img class="avatar-color" alt="" />
          </div>
        </div>
        <div class="ms-3 col" *ngIf="item.type === 'note'">
          <div>
            <span style="font-weight: bold">{{ getUser(item.user).name }}
              {{ getUser(item.user).last_name }} -
            </span>
            <span>{{ item.date | date : "dd/MM/yyyy h:mm a" }}</span>
          </div>
          <span>{{ item.note }}</span>
        </div>
        <div class="ms-3 col" *ngIf="item.type === 'activity' && item.status != 'DRAFT'">
          <div>
            <span style="font-weight: bold">
              {{ getUser(item.user).name }}
              {{ getUser(item.user).last_name }} -</span>
            <span>{{ item.date | date : "dd/MM/yyyy h:mm a" }}</span>
          </div>
          <div>
            <span>{{ item.type_activity }} </span>
            <span>hecho</span>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>