.item {
  padding-right: 120px;
}

.icon-close{
  color: #626065;
  font-size: 20px;
}

.container-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}
