<button mat-button routerLink="/clients/add-client" routerLinkActive="router-link-active" >Nuevo cliente</button>
<div class="card table-responsive mt-4 overflow-auto ">
  <table id="seasontable" class="table text-nowrap">
    <thead>
      <tr>
        <th class="last">
          <span>
            <img src="../../../../../assets/icons/traffic.svg" alt="">
          </span>
        </th>
        <th >
          No. cliente
        </th>
        <th>
          Nombre cliente
        </th>
        <th>
          Nit
        </th>
        <th>
          Condiciones de pago
        </th>
        <th>
          Tipo de tercero
        </th>
        <th>
          Tipo de sociedad
        </th>
        <th>
          Tipo de proveedor
        </th>
        <th>
          Telefono
        </th>
        <th>
          Telefono movil
        </th>
        <th>
          Email
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients | paginate: { itemsPerPage: selectedValue, currentPage: page };
      index as i">
        <td class="container-status">
          <div matTooltip={{client.status}} [ngClass]="{
            'circule-activo': client.status === 'activo',
            'circule-inactivo': client.status === 'inactivo',
            'circule-suspendido': client.status === 'suspendido',
            'circule-password': client.status === 'habilitado por password'}"></div>
        </td>
        <td>
          <span>{{ client.key_client }}</span>
        </td>
        <td>
          <span>{{ client.name }}</span>
        </td>
        <td>
          <span>{{ client.nit }}</span>
        </td>
        <td>
          <span>{{ client.payment_conditions.name_payment }}</span>
        </td>
        <td>
          <span>{{ client.third_type}}</span>
        </td>
        <td>
          <span>{{ client.society_type}}</span>
        </td>
        <td>
          <span>{{ client.provider_type}}</span>
        </td>
        <td>
          <span>{{ client.phone_number}}</span>
        </td>
        <td>
          <span>{{ client.mobile_number}}</span>
        </td>
        <td>
          <span>{{ client.email}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 d-flex flex-row-reverse">
  <pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true"></pagination-controls>
  <mat-form-field>
    <mat-select [(value)]="selectedValue">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</div>
