<div class="d-flex justify-content-between col-12">
  <div style="display:flex; align-items:center">
    <button class="btn-primary" mat-raised-button routerLink="/clients/add-client"
      routerLinkActive="router-link-active">Nuevo
      cliente</button>
    <button class="btn-primary mx-3" mat-raised-button (click)="createExcel()">Exportar Excel</button>
    <button class="btn-primary" mat-raised-button (click)="openDialogUploadExcel()">Importar datos</button>
  </div>
  <div class="col-4">
    <mat-form-field class="w-100" appearance="legacy">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar...</mat-label>
      <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
    </mat-form-field>
    <span class="button-menu" [matMenuTriggerFor]="menu">
      <i class="material-icons" style="color:black " data-toggle="tooltip" data-placement="right" title="Ajustes"> <img
          src="../../../../../assets/icons/Ajustes.svg" style="width:20px"></i>
    </span>
  </div>
</div>
<div class="table-responsive mt-4 overflow-auto card">
  <table class="table card-table table-vcenter text-nowrap datatable">
    <thead>
      <tr>
        <th class="last" *ngIf="statusControl.value">
          <span>Estado</span>
        </th>
        <th *ngIf="keyClientControl.value">
          No. cliente
        </th>
        <th *ngIf="nameControl.value">
          Nombre cliente
        </th>
        <th *ngIf="nitControl.value">
          Nit
        </th>
        <th *ngIf="paymentConditionsControl.value">
          Condiciones de pago
        </th>
        <th *ngIf="thirdTypeControl.value">
          Tipo de tercero
        </th>
        <th *ngIf="societyTypeControl.value">
          Tipo de sociedad
        </th>
        <th *ngIf="providerTypeControl.value">
          Tipo de proveedor
        </th>
        <th *ngIf="phoneNumberControl.value">
          Telefono
        </th>
        <th *ngIf="mobileNumberControl.value">
          Telefono movil
        </th>
        <th *ngIf="emailControl.value">
          Email
        </th>
        <th class="last" *ngIf="actionsControl.value">
          Acciones
        </th>
        <mat-menu #menu="matMenu">
          <div class="menu-table">
            <mat-checkbox class="example-margin" [formControl]="statusControl" (click)="$event.stopPropagation();">
              Estado</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="keyClientControl" (click)="$event.stopPropagation();">
              No. cliente</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="nameControl" (click)="$event.stopPropagation();">Nombre
              cliente</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="nitControl" (click)="$event.stopPropagation();">Nit
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="paymentConditionsControl"
              (click)="$event.stopPropagation();">Condiciones de pago</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="thirdTypeControl" (click)="$event.stopPropagation();">
              Tipo de tercero</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="societyTypeControl" (click)="$event.stopPropagation();">
              Tipo de sociedad</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="providerTypeControl"
              (click)="$event.stopPropagation();">Tipo de proveedor</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="phoneNumberControl" (click)="$event.stopPropagation();">
              Telefono</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="mobileNumberControl"
              (click)="$event.stopPropagation();">Telefono movil</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="emailControl" (click)="$event.stopPropagation();">Email
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="actionsControl" (click)="$event.stopPropagation();">
              Acciones</mat-checkbox>
            <button mat-raised-button class="btn-update" (click)="updateHeader()">Guardar</button>
          </div>
        </mat-menu>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clientsTemp | paginate: { itemsPerPage: selectedValue, currentPage: page };
      index as i" style="cursor:pointer">
        <td class="container-status" *ngIf="statusControl.value" (click)="goToEditClient(client)">
          <span *ngIf="client.status === 'ACTIVE'">ACTIVO</span>
        </td>
        <td *ngIf="keyClientControl.value" (click)="goToEditClient(client)">
          <span>{{ client.key_client }}</span>
        </td>
        <td *ngIf="nameControl.value" (click)="goToEditClient(client)">
          <span>{{ client.name }}</span>
        </td>
        <td *ngIf="nitControl.value" (click)="goToEditClient(client)">
          <span>{{ client.nit }}</span>
        </td>
        <td *ngIf="paymentConditionsControl.value" (click)="goToEditClient(client)">
          <span>{{ client.payment_conditions.name_payment }}</span>
        </td>
        <td *ngIf="thirdTypeControl.value" (click)="goToEditClient(client)">
          <span>{{ client.third_type}}</span>
        </td>
        <td *ngIf="societyTypeControl.value" (click)="goToEditClient(client)">
          <span>{{ client.society_type}}</span>
        </td>
        <td *ngIf="providerTypeControl.value" (click)="goToEditClient(client)">
          <span>{{ client.provider_type}}</span>
        </td>
        <td *ngIf="phoneNumberControl.value" (click)="goToEditClient(client)">
          <span>{{ client.phone_number}}</span>
        </td>
        <td *ngIf="mobileNumberControl.value" (click)="goToEditClient(client)">
          <span>{{ client.mobile_number}}</span>
        </td>
        <td *ngIf="emailControl.value" (click)="goToEditClient(client)">
          <span>{{ client.email}}</span>
        </td>
        <td class="text-center" *ngIf="actionsControl.value">
          <i class="fa fa-trash" (click)="delete(client)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 d-flex flex-row-reverse">
  <pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true"></pagination-controls>
  <mat-form-field>
    <mat-select [(value)]="selectedValue">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</div>
