<div class="content-navbar p-2 overflow-hidden">
  <div class="row ">
    <button type="button" class="col-md-4 col-lg-4 col-sm-4 col-12 border border-white backcolor ">
      <span class="text-center"># Equipos</span>
    </button>
    <div class="col-md-8 col-lg-8 col-sm-8 col-12 border border-white">
      <div class="row">
        <button type="button" class="col-6 border border-white backcolor">
          <img src="../../../assets/icons/chat.svg" alt="">
          <span class="">Chat</span>
        </button>
        <button type="button" class="col-6  border border-white backcolor">
          <span class="">Mensaje Nuevo </span>
          <img src="../../../assets/icons/mensajeNuevo.svg" alt="">
        </button>
      </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="mt-1 small text-muted text-end">Usuarios</div>
  <a href="#" class="dropdown-item"># Proyectos</a>
  <div class="dropdown-divider"></div>
  <div class="mt-1 small text-muted text-end">Usuarios</div>
  <a href="#" class="dropdown-item"># Administracion</a>
  <div class="dropdown-divider"></div>
  <div class="mt-1 small text-muted text-end">Usuarios</div>
  <a href="#" class="dropdown-item"># Compras</a>
  <div class="dropdown-divider"></div>
  <div class="mt-1 small text-muted text-end">Usuarios</div>
  <a href="#" class="dropdown-item"># Recursos Humanos</a>
  <div class="dropdown-divider"></div>
  <div class="mt-1 small text-muted text-end">Usuarios</div>
  <a href="#" class="dropdown-item"># Contabilidad</a>
</div>