<app-navbar></app-navbar>
<div class="content d-flex">
  <div class="" style="margin: 0 auto;">
    <div class="container-avatar">
      <img class="avatar my-2 f" [src]="user.getImage" alt="">
    </div>
    <div class="text-center">
      <h1 class="p-0 ">{{user.name}} {{user.last_name}}</h1>
      <h3 class="text-capitalize text-bg-dark rounded-1">{{getRole(user.role!)}}</h3>
      <h4 class="">{{user.email}}</h4>
      <button class="text-white" style="background:#FF5722; margin-top: 8rem;" mat-button (click)="logOut()">
        Cerrar sesion
        <mat-icon class="icon-close">cancel</mat-icon>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
