<header class="d-flex align-items-flex-end">
  <h2 class="col-md-10 p-0">Nuevo Factura</h2>
</header>
<div>
  <form (ngSubmit)="registerInvoice()" autocomplete="off" [formGroup]="invoiceForm">
    <div class="col-12 d-flex">
      <div class="col-7 pe-2">
        <label>Tipo de movimiento</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select matInput formControlName="movement_type" placeholder="Selecciona el tipo de movimiento">
            <mat-option *ngFor="let item of movements" [value]="item._id">{{
              item.name_movement
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="invoiceForm.controls['movement_type'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-5">
        <label>No. Factura</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="text" formControlName="key_invoice" placeholder="Indica # de factura" />
          <mat-error *ngIf="invoiceForm.controls['key_invoice'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 d-flex my-3">
      <div class="col-7 pe-2">
        <label>Cliente</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" class="w-100" matInput formControlName="client" [matAutocomplete]="search"
            placeholder="Ingresa un cliente" />
          <mat-autocomplete autoActiveFirstOption #search="matAutocomplete"
            (optionSelected)="opcionSeleccionada($event)" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">{{ option.key_client }} - {{ option.name
              }}
            </mat-option>
            <mat-option value="" *ngIf="
                filteredOptions.length <= 0 &&
                this.invoiceForm.controls['client'].value
              ">
              No se encontró nada con el término:
              {{ invoiceForm.controls["client"].value }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="invoiceForm.controls['client'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 d-flex">
      <div class="col-4 pe-2">
        <label>Fecha carga</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput [matDatepicker]="picker1" formControlName="upload_date" placeholder="Selecciona una fecha" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="invoiceForm.controls['upload_date'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4 pe-2">
        <label>Fecha factura</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="invoice_date" placeholder="Selecciona una fecha" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="invoiceForm.controls['invoice_date'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <label>Fecha vencimiento</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput [matDatepicker]="picker2" formControlName="expiration_date"
            placeholder="Selecciona una fecha" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="invoiceForm.controls['expiration_date'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 d-flex my-3">
      <div class="col-7 pe-2">
        <label>Ceco</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" class="w-100" matInput formControlName="ceco" [matAutocomplete]="searchCeco"
            placeholder="Ingresa un ceco" />
          <mat-autocomplete autoActiveFirstOption #searchCeco="matAutocomplete"
            (optionSelected)="opcionSeleccionada($event)" [displayWith]="displayFnCeco">
            <mat-option *ngFor="let option of filteredOptionsCeco" [value]="option">{{ option.key_ceco_business }} -
              {{ option.name_short }}</mat-option>
            <mat-option value="" *ngIf="
                filteredOptionsCeco.length <= 0 &&
                this.invoiceForm.controls['ceco'].value
              ">
              No se encontró nada con el término:
              {{ invoiceForm.controls["ceco"].value }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="invoiceForm.controls['ceco'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 d-flex">
      <div class="col-7 pe-2">
        <label>Total de factura</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="number" formControlName="invoice_total" placeholder="Indica el total de la factura" />
          <mat-error *ngIf="invoiceForm.controls['invoice_total'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-5 pe-2">
        <label>Divisa</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select matInput formControlName="divisa" placeholder="Selecciona una divisa">
            <mat-option *ngFor="let item of divisas" [value]="item._id">{{
              item.abbreviation_divisa
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="invoiceForm.controls['divisa'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 d-flex my-3">
      <div class="col-12">
        <label>Descripcion</label>
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput formControlName="description" placeholder="Indica una descripcion"></textarea>
          <mat-error *ngIf="invoiceForm.controls['description'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-dialog-actions align="end" class="mat">
      <div></div>
      <div>
        <button mat-stroked-button color="warn" routerLink="/invoice-clients">
          Cancelar
        </button>
        <button mat-raised-button class="mx-2 btn-save">Crear Factura</button>
      </div>
    </mat-dialog-actions>
  </form>
</div>