<footer class="position-sticky">
  <div class="hstack d-flex justify-content-start align-items-center h-100 container-icons">
    <div class="">
      <span style="cursor: pointer;">
        <h3 style="font-size: small;padding-right: 5px; color: white; font-weight: 300; margin:0 0 0 2rem" class="">
          Localizacion: <img src="../../../assets/newIcons/Bandera de México.svg">
        </h3>
      </span>
    </div>
    <div class="">
      <span style="cursor: pointer; display: flex;" (click)="changeTenant()">
        <h3 style="font-size: small;padding-right: 5px; color: white; font-weight: 300; margin:0 0 0 6rem"
          class="foter"> Empresa actual: {{userTenant.name_short}}
        </h3>
      </span>
    </div>
    <div class="">
      <span style="cursor: pointer;">
        <h3 style="font-size: small;padding-right: 5px; color: white; font-weight: 300; margin:0 0 0 6rem"
          class="foter"> Tipo de cambio: TIPO DE CAMBIO
        </h3>
      </span>
    </div>
    <div class="ms-auto d-flex justify-content-end align-items-center h-100 container-icons ">
      <div>
        <span class="mx-5 px-5"></span>
        <img class="px-2" src="../../../assets/icons/linkedin.svg" alt="">
        <img class="px-2" src="../../../assets/icons/twitter.svg" alt="">
        <img class="px-2" src="../../../assets/icons/facebook.svg" alt="">
      </div>
    </div>
  </div>

</footer>