<div class="content-navbar">
  <mat-toolbar class="color position-sticky">
    <img class="active" src="../../../assets/icons/GHconnecticon.svg" [routerLink]="['/home']" alt="">
    <span style="cursor: pointer;" class="mx-3 title-navbar" (click)="goToHome()">{{title}}</span>
    <!-- <div class="d-flex" *ngIf="title === 'Operaciones'">
      <a class="mx-3" [routerLink]="['/operations']" routerLinkActive="active-link">Dashboard</a>
      <a class="mx-3" [routerLink]="['/invoice-clients']" routerLinkActive="active-link">Clientes</a>
      <a class="mx-3" [routerLink]="['/invoice-providers']" routerLinkActive="active-link">Proveedores</a>
      <a class="mx-3" [routerLink]="['/contracts']" routerLinkActive="active-link">Contratos</a>
      <div class="dropdown">
        <a class="mx-3 dropbtn">Configuración</a>
        <div class="dropdown-content">
          <a [routerLink]="['/providers']" routerLinkActive="active-link">Gestion proveedores</a>
          <a [routerLink]="['/clients']" routerLinkActive="active-link">Gestion clientes</a>
        </div>
      </div>
    </div>-->
    <div class="d-flex" *ngIf="type === 'Pago a Proveedores'">
      <img src="../../../assets/newIcons/Icon_Proveedores.svg">
      <a class="mx-3" routerLinkActive="active-link">Dashboard</a>
      <a class="mx-3" [routerLink]="['/invoice-providers']" routerLinkActive="active-link">Facturas</a>
      <a class="mx-3" routerLinkActive="active-link">Contratos</a>
      <a class="mx-3" routerLinkActive="active-link">Garantias</a>
      <a class="mx-3" routerLinkActive="active-link">Consultas</a>
      <a class="mx-3" routerLinkActive="active-link">Informes</a>
      <a class="mx-3" [routerLink]="['/providers']" routerLinkActive="active-link">Configuracion</a>
    </div>
    <div class="d-flex" *ngIf="type === 'Pago a Clientes'">
      <img src="../../../assets/newIcons/Icon_Proveedores.svg">
      <a class="mx-3" routerLinkActive="active-link">Dashboard</a>
      <a class="mx-3" [routerLink]="['/invoice-clients']" routerLinkActive="active-link">Facturas</a>
      <a class="mx-3" routerLinkActive="active-link">Contratos</a>
      <a class="mx-3" routerLinkActive="active-link">Garantias</a>
      <a class="mx-3" routerLinkActive="active-link">Consultas</a>
      <a class="mx-3" routerLinkActive="active-link">Informes</a>
      <a class="mx-3" [routerLink]="['/clients']" routerLinkActive="active-link">Configuracion</a>
    </div>
    <div class="d-flex" *ngIf="type === 'Cuadro Comparativo'">
      <div class="dropdown">
        <a class="mx-3 dropbtn" [routerLink]="['/validation']" routerLinkActive="active-link">Cuadro comparativo</a>
        <div class="dropdown-content">
          <a [routerLink]="['/volumes']" routerLinkActive="active-link">Gestion volumenes</a>
        </div>
      </div>
    </div>
    <div class="d-flex" *ngIf="type === 'Aprobaciones'">
      <a class="mx-3" [routerLink]="['/approvals']" routerLinkActive="active-link">Aprobaciones</a>
    </div>
    <div class="d-flex" *ngIf="type === 'Clientes'">
      <a class="mx-3" [routerLink]="['/clients']" routerLinkActive="active-link">Clientes</a>
    </div>
    <div class="d-flex" *ngIf="type === 'Proveedores'">
      <a class="mx-3" [routerLink]="['/providers']" routerLinkActive="active-link">Proveedores</a>
    </div>
    <!-- <div class="d-flex" *ngIf="title === 'Validacion'">
      <div class="dropdown">
        <a class="mx-3 dropbtn" [routerLink]="['/validation']" routerLinkActive="active-link">Cuadro comparativo</a>
        <div class="dropdown-content">
          <a [routerLink]="['/volumes']" routerLinkActive="active-link">Gestion volumenes</a>
        </div>
      </div>
      <a class="mx-3" [routerLink]="['/approvals']" routerLinkActive="active-link">Aprobaciones</a>
    </div> -->
    <span class="example-spacer"></span>

    <button mat-icon-button class="mx-3" [matMenuTriggerFor]="menuChat">
      <img src="../../../assets/icons/chat.svg" alt="">
    </button>
    <mat-menu #menuChat="matMenu">
      <app-chat></app-chat>
    </mat-menu>

    <button mat-icon-button class="mx-3" [matMenuTriggerFor]="menuTask">
      <img src="../../../../assets/icons/task.svg" alt="">
    </button>
    <mat-menu #menuTask="matMenu">
      <app-task></app-task>
    </mat-menu>
    <span style="cursor: pointer; display: flex;" (click)="changeTenant()">
      <h3 style="font-size: small;padding-right: 5px; color: var(--tblr-626065); font-weight: 600;" class="">
        {{userTenant.name_short}}</h3>
      <span style="color: var(--tblr-626065);" class="material-icons mt-1">change_circle</span>
    </span>
    <button class="mx-3" mat-icon-button [matMenuTriggerFor]="menu">
      <div class="container-2">
        <div class="container-letter-name">
          <p class="letter-name"><strong>{{letterNames}}</strong></p>
        </div>
        <div class="container-avatar-1">
          <img class="avatar-color" alt="">
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <app-menu-navbar></app-menu-navbar>
    </mat-menu>
  </mat-toolbar>
</div>