mat-toolbar{
  z-index: 1;
  max-width: 1280px;
  margin: 0 auto;
}

.content-navbar{
  background-color:  var(--tblr-FCCF06);
}

.color {
  top: 0;
  background-color:  var(--tblr-FCCF06);
}

.example-spacer {
  flex: auto 1 1 ;
}

.item {
  padding-right: 120px;
}

.icon-close{
  color: var(--tblr-626065);
  font-size: 20px;
}

.container-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

.avatar-1 {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.active {
  cursor: pointer;
}

a {
  text-decoration: none;
  color:  var(--tblr-626065);
  font-size: 16px;
}

.active-link {
  padding-bottom: 4px;
  border-bottom: solid 3px var(--tblr-blue);
}

.container-2 {
  position: relative;;
}

.avatar-color {
  background-color: var(--tblr-626065);
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.container-letter-name {
  position: absolute;
  left: 10px;
  top: 1px;
  color: white;
}

.letter-name {
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: 1px;
  margin-left: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--tblr-626065);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
