<header class="d-flex align-items-flex-end">
  <h2 mat-dialog-title class="col-md-10 p-0">
    Nuevo usuario
  </h2>
  <div class="d-flex justify-content-end w-100">
    <i mat-dialog-close class="fa-light fa-xmark fa"></i>
  </div>
</header>
<div>
  <form (ngSubmit)="registerUser()" autocomplete="off" [formGroup]="registerForm">
      <div class="">
        <label>Nombre</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput formControlName="name" placeholder="Ingresa nombre del usuario"/>
          <mat-error
            *ngIf="registerForm.controls['name'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <label>Apellido</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput formControlName="last_name" placeholder="Ingresa el apellido del usuario"/>
          <mat-error
            *ngIf="registerForm.controls['last_name'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <label>Correo electronico</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput formControlName="email" placeholder="Ingresa un correo electronico"/>
          <mat-error
            *ngIf="registerForm.controls['email'].hasError('required')"
          >
            Campo requerido
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['email'].hasError('email')"
          >
            Correo electronico invalido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <label>Contraseña</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput formControlName="password" placeholder="Ingresa una contraseña"/>
          <mat-error
            *ngIf="registerForm.controls['password'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <label>Repetir contraseña</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput formControlName="password2" placeholder="Vuelve a ingresar la constraseña"/>
          <mat-error
            *ngIf="registerForm.controls['password2'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        <!--  <mat-error
            *ngIf="registerForm.controls['password2'].hasError('notSame')"
          >
            Contraseñas no iguales
          </mat-error>-->
          <mat-hint class="mat-hint-error" *ngIf="!samePassword &&
                            ( this.registerForm.controls['password2'].touched )"
          >Contraseñas no coinciden</mat-hint>
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end" class="mat">
        <div></div>
        <div>
          <button mat-stroked-button color="warn" mat-dialog-close>
            Cancelar
          </button>
          <button
            mat-raised-button
            class="mx-2 btn-primary"
          >
          Crear Usuario
          </button>
        </div>
      </mat-dialog-actions>
  </form>
</div>
