<div class="d-flex justify-content-between col-12">
  <div>
    <button class="btn-primary" mat-raised-button (click)="openDialogModalDivisa()">Crear Divisa</button>
  </div>
  <div class="col-4">
    <mat-form-field class="w-100" appearance="legacy">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar...</mat-label>
      <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
    </mat-form-field>
  </div>
</div>
<div class="table-responsive mt-4 overflow-auto card">
  <table class="table card-table table-vcenter text-nowrap datatable">
    <thead>
      <tr>
        <th *ngIf="nameControl.value">
          Nombre
        </th>
        <th *ngIf="abbreviationControl.value">
          Abreviatura
        </th>
        <th *ngIf="symbolControl.value">
          Simbolo
        </th>
        <th class="last" *ngIf="actionsControl.value">
          Acciones
        </th>
        <th class="last" style="width: 15px;">
          <span class="button-menu" [matMenuTriggerFor]="menu">
            <i class="material-icons" style="color:white ">more_vert</i>
          </span>
        </th>
        <mat-menu #menu="matMenu">
          <div class="menu-table">
            <mat-checkbox class="example-margin" [formControl]="nameControl"
              (click)="$event.stopPropagation();">Nombre</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="abbreviationControl"
              (click)="$event.stopPropagation();">Abreviatura</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="symbolControl"
              (click)="$event.stopPropagation();">Simbolo</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="actionsControl"
              (click)="$event.stopPropagation();">Acciones</mat-checkbox>
            <button mat-raised-button class="btn-update" (click)="updateHeader()">Guardar</button>
          </div>
        </mat-menu>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let divisa of divisas | paginate: { itemsPerPage: selectedValue, currentPage: page };
        index as i">
        <td *ngIf="nameControl.value">
          <span>{{divisa.name}}</span>
        </td>
        <td *ngIf="abbreviationControl.value">
          <span>{{divisa.abbreviation_divisa}}</span>
        </td>
        <td *ngIf="symbolControl.value">
          <span>{{divisa.symbol}}</span>
        </td>
        <td class="last" *ngIf="actionsControl.value">
          <i class="fa fa-edit me-4" (click)="openDialogEditDivisa(divisa)"></i>
          <i class="fa fa-trash" (click)="delete(divisa)"></i>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 d-flex flex-row-reverse">
  <pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true"></pagination-controls>
  <mat-form-field>
    <mat-select [(value)]="selectedValue">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</div>