<div class="row container-tenant">
  <div class="d-flex justify-content-between col-12">
    <div>
      <h1 class="">Seleccionar empresa</h1>
    </div>
    <div style="height: 100%; display: flex;align-items: center;">
      <button mat-raised-button class="mx-2 btn-primary" routerLink="/business/new">Añadir nueva empresa</button>
      <button class="mx-2 btn btn-danger" mat-button (click)="logOut()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-between col-12">
    <div class="col-6">
      <h3>Elige la empresa con la cual deseas ingresar. Podrás cambiar de empresa más adelante en el menú lateral, dando
        click en la empresa actual y seleccionando opción “Cambiar de empresa”
      </h3>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100" appearance="legacy">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>Buscar...</mat-label>
        <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="this.user" class="row">
    <div class="contenedor col-3 my-2" *ngFor="let item of tenants; let indice = index;">
      <div class="card" (click)="goToHomeWithTenant(item.tenant_id._id)">
        <div class="face face1">
          <div class=" row">
            <div class="col-6">
              <img class="imgSize" [src]="getImage(item.tenant_id.img)">
            </div>
            <div class=" col-6">
              <p class="text-end text-muted idSize">{{item.tenant_id.key_business}}</p>
            </div>
          </div>
          <div class="text-white text-center rounded-2 text-uppercase">
            <p class="tenant-name">{{item.tenant_id.name_short}}</p>
          </div>
        </div>
        <div class="face faceSecond1">
          <div class="">
            <p class="tenant-p">Pruebas - Calzada Construcciones S.A. de C.V. Suc. Bolivia. Av. Las Ramblas, Santa
              Cruz de la Sierra,Bolivia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>