<div class="row container-tenant">
  <h1 class="">Seleccionar empresa</h1>
  <div class="d-flex justify-content-between col-12">
    <div class="col-6">
      <h3>Elige la empresa con la cual deseas ingresar. Podrás cambiar de empresa más adelante en el menú lateral, dando
        click en la empresa actual y seleccionando opción “Cambiar de empresa”
      </h3>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100" appearance="legacy">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>Buscar...</mat-label>
        <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="this.user" class="row">
    <div class="contenedor col-3 my-2" *ngFor="let item of this.tenants; let indice = index;">
      <div class="card">
        <div class="face face1" (click)="goToHomeWithTenant(item.tenant_id._id)">
          <div class="m-1">
            <p class="text-end text-muted">{{indice + 1}}</p>
          </div>
          <div class="text-white text-center rounded-2 my-2">
            <p class="tenant-name">{{item.tenant_id.name}}</p>
          </div>
        </div>
        <div class="face faceSecond1">
          <div class="">
            <p class="tenant-p">Pruebas - Calzada Construcciones S.A. de C.V. Suc. Bolivia. Av. Las Ramblas, Santa
              Cruz
              de la Sierra,
              Bolivia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>