<button  class="btn-primary" mat-raised-button [routerLink]="['/volumes']">
  <span>Volver</span>
</button>
<div class="pt-4" >
  <h2>Detalle volumen</h2>
</div>
<div *ngIf="volumeData">
  <div class="row">
    <div class="col-3">
      <strong>Insumo</strong>
      <h3>{{volumeData.insumo}}</h3>
    </div>
    <div class="col-3">
      <strong>Frente</strong>
      <h3>{{volumeData.front}}</h3>
    </div>
    <div class="col-3">
      <strong>Partida</strong>
      <h3>{{volumeData.departure}}</h3>
    </div>
    <div class="col-3">
      <strong>Tarjeta</strong>
      <h3>{{volumeData.card}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <strong>Volumen proyecto</strong>
      <h3>{{volumeData.project_volume}}</h3>
    </div>
    <div class="col-3">
      <strong>Descripcion</strong>
      <h3>{{volumeData.description}}</h3>
    </div>
    <div class="col-3">
      <strong>Unidad de medida</strong>
      <h3>{{volumeData.measure}}</h3>
    </div>
    <div class="col-3">
      <strong>Precio porfoma</strong>
      <h3>{{volumeData.price_proforma | currency}}</h3>
    </div>
  </div>
</div>
<div class="table-responsive mt-4">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th>
          Fecha de creacion
        </th>
        <th class="text-center">
          <p class="m-0">Compradas</p>
          <p class="m-0">Aditivas</p>
          <p class="m-0">Deductivas</p>
        </th>
        <th>
          Pendiente por comprar
        </th>
        <th>
          PVR
        </th>
        <th>
          Usuario
        </th>
        <th class="last" >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let volume of volumesTable | paginate: { itemsPerPage: selectedValue, currentPage: page };
      index as i">
        <td>
          <span>{{volume.createdAt | date: 'dd/MM/yyyy'}}</span>
        </td>
        <td>
          <span [ngClass]="{'color-type-plus': volume.type === 'plus'}" *ngIf="volume.type === 'plus'"> + {{ volume.project_volume}}</span>
          <span [ngClass]="{'color-type-minus': volume.type === 'minus'}"  *ngIf="volume.type === 'minus'"> - {{volume.project_volume}}</span>
          <span [ngClass]="{'color-type-buys': volume.type === 'buys'}"  *ngIf="volume.type === 'buys'"> - {{volume.project_volume}}</span>
        </td>
        <td>
          <span>{{ getPendingBuy(i) }}</span>
        </td>
        <td>
          <span>0</span>
        </td>
        <td>
          <span>{{volume.user?.name}} {{volume.user?.last_name}}</span>
        </td>
        <td class="last">
          <i class="fa fa-trash" (click)="delete(volume)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 d-flex flex-row-reverse">
<pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
  [responsive]="true"></pagination-controls>
  <mat-form-field>
    <mat-select [(value)]="selectedValue">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</div>
