th {
  background-color: var(--tblr-626065);
  color: white;
  border-right: 1px solid;
  vertical-align: middle;
}

.color-type-plus{
  color: green;
  font-weight: 500;
}
.color-type-minus{
  color: red;
  font-weight: 500;
}

.color-type-buys{
  color: orange;
  font-weight: 500;
}

.table {
  background-color: white;
}

img{
  width: 50px;
  height: 50px;
}

td{
  vertical-align: middle;
}

//.table th:last-of-type,
//.table td:last-of-type{
//  position: sticky;
//  right: 0;
//}

.last {
  text-align: center;
  vertical-align: middle;

  a {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

button {
  background-color: var(--tblr-626065);
  color: white;
}

i {
  cursor: pointer;
}

.span-last {
  font-size: 0.8rem;
  color: var(--tblr-blue);
  cursor: pointer;
}


.fa-trash {
  font-size: 12px;
  color: #cc2727;
}

.fa-trash:hover {
  opacity: 0.5;
}

.fa-edit {
  font-size: 12px;
  color: var(--tblr-blue);
}

.fa-edit:hover {
  opacity: 0.5;
}

.menu-table {
  display: flex;
  flex-direction: column;
}

.mat-checkbox {
  display: block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--tblr-626065) !important;
}

.btn-update {
  background-color: var(--tblr-626065);
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
