.custom-file {
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--tblr-626065);
  border-radius: 5px;
  display: flex;
  color: white;
  padding: 8px 15px;
  align-items: center;
  justify-content: center;
}
