<div class="d-flex justify-content-between col-12">
  <div>
    <button class="btn-primary" mat-raised-button (click)="openDialogModalCountry()">Crear Pais</button>
  </div>
  <div class="col-4">
    <mat-form-field class="w-100" appearance="legacy">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar...</mat-label>
      <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="table-responsive mt-4">
    <table class="table text-nowrap">
      <thead>
        <tr>
          <th *ngIf="nameControl.value">
            Nombre
          </th>
          <th *ngIf="nationalityControl.value">
            Nacionalidad
          </th>
          <th *ngIf="divisaControl.value">
            Divisa
          </th>
          <th class="last" *ngIf="actionsControl.value">
            Acciones
          </th>
          <th class="last" style="width: 15px;">
            <span class="button-menu" [matMenuTriggerFor]="menu">
              <i class="material-icons" style="color:white ">more_vert</i>
            </span>
          </th>
          <mat-menu #menu="matMenu">
            <div class="menu-table">
              <mat-checkbox class="example-margin" [formControl]="nameControl" (click)="$event.stopPropagation();">
                Nombre</mat-checkbox>
              <mat-checkbox class="example-margin" [formControl]="nationalityControl"
                (click)="$event.stopPropagation();">Nacionalicidad</mat-checkbox>
              <mat-checkbox class="example-margin" [formControl]="divisaControl" (click)="$event.stopPropagation();">
                Divisa</mat-checkbox>
              <mat-checkbox class="example-margin" [formControl]="actionsControl" (click)="$event.stopPropagation();">
                Acciones</mat-checkbox>
              <button mat-raised-button class="btn-update" (click)="updateHeader()">Guardar</button>
            </div>
          </mat-menu>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries | paginate: { itemsPerPage: selectedValue, currentPage: page };
        index as i">
          <td *ngIf="nameControl.value">
            <span>{{country.name}}</span>
          </td>
          <td *ngIf="nationalityControl.value">
            <span>{{country.nationality}}</span>
          </td>
          <td *ngIf="divisaControl.value">
            <span>{{country.divisa?.name }}</span>
          </td>
          <td class="last" *ngIf="actionsControl.value">
            <i class="fa fa-edit me-4" (click)="openDialogEditCountry(country)"></i>
            <i class="fa fa-trash" (click)="delete(country)"></i>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-12 d-flex flex-row-reverse">
  <pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true"></pagination-controls>
</div>
