h2 {
  font-size: 1.5rem;
}

img {
  width: 150px;
  height: 150px;
}

.content-imgs {
  height: calc(100vh - 114px);
  display: flex;
  align-items: center;
}

.container-img {
  display: grid;
  grid-template-columns: 300px 300px;
  align-items: center;
}

.item-img {
  align-self: center;
  justify-self: center;
  cursor: pointer;

}

.cont-icon{
  cursor: pointer;
  margin: 0 0;
  width: 150px;
}

.icons{
  width: 35px;
  height: 35px;
}

.p-size{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
