<app-navbar></app-navbar>

<div class="content p-0">
  <!-- <div class="content-imgs">
    <div class="container-img">
      <div class="item-img" [routerLink]="['/operations']">
        <img src="../../../../../assets/icons/Operaciones.svg" alt="">
        <h2 class="text-center">Operación</h2>
      </div>
      <div class="item-img" [routerLink]="['/control']">
        <img src="../../../../../assets/icons/Control.svg" alt="">
        <h2 class="text-center">Control</h2>
      </div>
      <div class="item-img" [routerLink]="['/validation']">
        <img src="../../../../../assets/icons/Validación.svg" alt="">
        <h2 class="text-center">Validación</h2>
      </div>
    </div>
  </div> -->
  <div class="d-flex justify-content-between col-12">
    <div class="col-6"></div>
    <div class="col-3 mt-3">
      <mat-form-field class="w-100" appearance="legacy">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>Buscar...</mat-label>
        <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 d-flex flex-wrap mt-3">
    <div *ngFor="let item of services" class="col-3 text-center">
      <img class="icons" [src]="item.icon">
      <p class="text-center">{{item.name}}</p>
    </div>
  </div>

</div>

<app-footer></app-footer>