<app-navbar></app-navbar>
<div class="content p-0">
  <div class="d-flex justify-content-between col-12">
    <div class="col"></div>
    <div class="col-2 mx-3 mt-3" style="display: flex;align-items: center;justify-content: end;"
      *ngIf="selectedFilter != 'Todos'">
      <div
        style="padding: 5px 10px; background-color: gray;border-radius: 15px;color: white;cursor: pointer;display: flex;align-items: center;"
        (click)="changeAll()">{{selectedFilter}}<mat-icon class="ms-2">cancel</mat-icon></div>
    </div>
    <div class=" mt-3" style="display: flex;align-items: center;justify-content: end;">
      <i class="fa-solid fa-filter" [matMenuTriggerFor]="menu"></i>
    </div>
    <mat-menu #menu="matMenu" xPosition="before" class="p-3 py-0 d-flex flex-column">
      <mat-radio-group class="example-radio-group" [(ngModel)]="selectedFilter">
        <mat-radio-button class="example-radio-button" (click)="$event.stopPropagation();selected(season.name)"
          *ngFor="let season of filters;index as i" [checked]="" [value]="season.name">
          {{season.name}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-menu>
    <div class="col-3 mx-3 mt-3">
      <mat-form-field class="w-100" appearance="legacy">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>Buscar...</mat-label>
        <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="services.length > 0" class="col-12 d-flex flex-wrap mt-3">
    <div style="cursor:pointer" *ngFor="let item of services" class="col-3 text-center" [routerLink]="[item.url]">
      <img class="icons" [src]="item.icon">
      <p class="text-center">{{item.name}}</p>
    </div>
  </div>
  <div *ngIf="services.length <= 0" class="text-center">
    SIN RESULTADOS
  </div>
</div>
<app-footer></app-footer>