<app-navbar></app-navbar>
<div class="content p-0">
  <div class="d-flex justify-content-between col-12">
    <div class="col"></div>
    <div class="col-1 mt-3" style="display: flex;align-items: center;justify-content: end;">
      <i class="fa-solid fa-filter" [matMenuTriggerFor]="menu"></i>
    </div>
    <mat-menu #menu="matMenu" xPosition="before" class="p-3 d-flex flex-column">
      <mat-checkbox (click)="$event.stopPropagation();" [(ngModel)]="item.completed" (ngModelChange)="filterData(item)" *ngFor="let item of filters">{{item.name}}</mat-checkbox>
    </mat-menu>
    <div class="col-3 mx-3 mt-3">
      <mat-form-field class="w-100" appearance="legacy">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>Buscar...</mat-label>
        <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 d-flex flex-wrap mt-3">
    <div *ngFor="let item of services" class="col-3 text-center">
      <img class="icons" [src]="item.icon">
      <p class="text-center">{{item.name}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
