<div class="d-flex justify-content-between col-12">
  <div>
    <button class="btn-primary" mat-button routerLink="/providers/add-provider"
      routerLinkActive="router-link-active">Nuevo
      proveedor</button>
    <button class="btn-primary mx-3" mat-raised-button (click)="createExcel()">Exportar Excel</button>
  </div>
  <div class="col-4">
    <mat-form-field class="w-100" appearance="legacy">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar...</mat-label>
      <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
    </mat-form-field>
  </div>
</div>
<div class="table-responsive mt-4 overflow-auto ">
  <table id="seasontable" class="table text-nowrap">
    <thead>
      <tr>
        <th class="last" *ngIf="statusControl.value">
          <span>
            <img src="../../../../../assets/icons/traffic.svg" alt="">
          </span>
        </th>
        <th *ngIf="keyProviderControl.value">
          No. proveedor
        </th>
        <th *ngIf="nameControl.value">
          Nombre proveedor
        </th>
        <th *ngIf="nitControl.value">
          Nit
        </th>
        <th *ngIf="paymentConditionsControl.value">
          Condiciones de pago
        </th>
        <th *ngIf="thirdTypeControl.value">
          Tipo de tercero
        </th>
        <th *ngIf="societyTypeControl.value">
          Tipo de sociedad
        </th>
        <th *ngIf="providerTypeControl.value">
          Tipo de proveedor
        </th>
        <th *ngIf="phoneNumberControl.value">
          Telefono
        </th>
        <th *ngIf="mobileNumberControl.value">
          Telefono movil
        </th>
        <th *ngIf="emailControl.value">
          Email
        </th>
        <th class="last" *ngIf="actionsControl.value">
          Acciones
        </th>
        <th class="last" style="width: 15px;">
          <span class="button-menu" [matMenuTriggerFor]="menu">
            <i class="material-icons" style="color:white "> <img src="../../../../../assets/icons/more-vert-icon.svg">
            </i>
          </span>
        </th>
        <mat-menu #menu="matMenu">
          <div class="menu-table">
            <mat-checkbox class="example-margin" [formControl]="statusControl" (click)="$event.stopPropagation();">
              Status</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="keyProviderControl" (click)="$event.stopPropagation();">
              No. proveedor</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="nameControl" (click)="$event.stopPropagation();">Nombre
              proveedor</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="nitControl" (click)="$event.stopPropagation();">Nit
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="paymentConditionsControl"
              (click)="$event.stopPropagation();">Condiciones de pago</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="thirdTypeControl" (click)="$event.stopPropagation();">
              Tipo de tercero</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="societyTypeControl" (click)="$event.stopPropagation();">
              Tipo de sociedad</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="providerTypeControl"
              (click)="$event.stopPropagation();">Tipo de proveedor</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="phoneNumberControl" (click)="$event.stopPropagation();">
              Telefono</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="mobileNumberControl"
              (click)="$event.stopPropagation();">Telefono movil</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="emailControl" (click)="$event.stopPropagation();">Email
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="actionsControl" (click)="$event.stopPropagation();">
              Acciones</mat-checkbox>
            <button mat-raised-button class="btn-update" (click)="updateHeader()">Guardar</button>
          </div>
        </mat-menu>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providersTemp | paginate: { itemsPerPage: selectedValue, currentPage: page };
      index as i">
        <td class="container-status" *ngIf="statusControl.value">
          <div matTooltip={{provider.status}} [ngClass]="{
            'circule-activo': provider.status === 'activo',
            'circule-inactivo': provider.status === 'inactivo',
            'circule-suspendido': provider.status === 'suspendido',
            'circule-password': provider.status === 'habilitado por password'}"></div>
        </td>
        <td *ngIf="keyProviderControl.value">
          <span>{{ provider.key_provider }}</span>
        </td>
        <td *ngIf="nameControl.value">
          <span>{{ provider.name }}</span>
        </td>
        <td *ngIf="nitControl.value">
          <span>{{ provider.nit }}</span>
        </td>
        <td *ngIf="paymentConditionsControl.value">
          <span>{{ provider.payment_conditions.name_payment }}</span>
        </td>
        <td *ngIf="thirdTypeControl.value">
          <span>{{ provider.third_type}}</span>
        </td>
        <td *ngIf="societyTypeControl.value">
          <span>{{ provider.society_type}}</span>
        </td>
        <td *ngIf="providerTypeControl.value">
          <span>{{ provider.provider_type}}</span>
        </td>
        <td *ngIf="phoneNumberControl.value">
          <span>{{ provider.phone_number}}</span>
        </td>
        <td *ngIf="mobileNumberControl.value">
          <span>{{ provider.mobile_number}}</span>
        </td>
        <td *ngIf="emailControl.value">
          <span>{{ provider.email}}</span>
        </td>
        <td class="last" *ngIf="actionsControl.value">
          <i class="fa fa-edit me-4" (click)="goToEditProvider(provider)"></i>
          <i class="fa fa-trash" (click)="delete(provider)"></i>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 d-flex flex-row-reverse">
  <pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true"></pagination-controls>
  <mat-form-field>
    <mat-select [(value)]="selectedValue">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</div>