<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <header class="d-flex align-items-flex-end">
    <h2 mat-dialog-title class="col-md-10 p-0">
      Nueva divisa
    </h2>
    <div class="d-flex justify-content-end w-100">
      <i mat-dialog-close class="fa-light fa-xmark fa"></i>
    </div>
  </header>
  <div>
    <form (ngSubmit)="registerDivisa()" autocomplete="off" [formGroup]="registerForm">
        <div class="">
          <label>Nombre</label>
          <mat-form-field class="w-100" appearance="outline">
            <input type="text" matInput formControlName="name" placeholder="Ingresa nombre de la divisa"/>
            <mat-error
              *ngIf="registerForm.controls['name'].hasError('required')"
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="">
          <label>Abreviatura</label>
          <mat-form-field class="w-100" appearance="outline">
            <input type="text" matInput formControlName="abbreviation_divisa" placeholder="Ingresa la abreviacion de la divisa"/>
            <mat-error
              *ngIf="registerForm.controls['abbreviation_divisa'].hasError('required')"
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="">
          <label>Simbolo</label>
          <mat-form-field class="w-100" appearance="outline">
            <input matInput formControlName="symbol" placeholder="Ingresa el simbolo de la divisa"/>
            <mat-error
              *ngIf="registerForm.controls['symbol'].hasError('required')"
            >
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <mat-dialog-actions align="end" class="mat">
          <div></div>
          <div>
            <button mat-stroked-button color="warn" mat-dialog-close>
              Cancelar
            </button>
            <button
              mat-raised-button
              class="mx-2 btn-primary"
            >
            Crear Divisa
            </button>
          </div>
        </mat-dialog-actions>
    </form>
  </div>
</div>
