<header class="d-flex align-items-flex-end mb-2">
  <div class="d-flex justify-content-end w-100">
    <i mat-dialog-close class="fa-light fa-xmark fa"></i>
  </div>
</header>
<form id="file-upload-form" class="uploader text-center">
  <input id="file-upload" type="file" name="fileUpload" accept=".xlsx, .xls" (change)="fileUpload($event)"
    multiple="false" />
  <label for="file-upload" class="d-flex flex-column text-center">
      <img style="width: 85px; height: 56px;" src="../../../../../assets/icons/Upload.svg" alt="">
      <span class="btn btn-primary">Seleccionar archivo</span>
  </label>
</form>
<div>
  <button class="btn-primary mt-2" mat-raised-button (click)="createExcel()">Descargar plantilla</button>
</div>
