th {
  background-color: var(--tblr-626065);
  color: white;
  border-right: 1px solid;
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

.table {
  background-color: white;
}


.btn{
  width: 200px;
}
