
<header class="d-flex align-items-flex-end">
  <h2 mat-dialog-title class="col-md-10 p-0">
    Nuevo volumen
  </h2>
  <div class="d-flex justify-content-end w-100">
    <i mat-dialog-close class="fa-light fa-xmark fa"></i>
  </div>
</header>
<div>
  <form (ngSubmit)="registerCountry()" autocomplete="off" [formGroup]="registerForm">
      <div class="">
        <label>Insumo</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput disabled [value]="insumoValue"/>
        </mat-form-field>
      </div>
      <div class="">
        <label>Frente</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput disabled [value]="frontValue"/>
        </mat-form-field>
      </div>
      <div class="">
        <label>Partida</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput disabled [value]="departureValue"/>
        </mat-form-field>
      </div>
      <div class="">
        <label>Tarjeta</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput disabled [value]="cardValue"/>
        </mat-form-field>
      </div>
      <div class="">
        <label>Descripcion</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput disabled [value]="descriptionValue"/>
        </mat-form-field>
      </div>
      <div class="">
        <label>Unidad de medida</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="text" matInput disabled [value]="measureValue"/>
        </mat-form-field>
      </div>
      <div class="">
        <label>Volumen proyecto</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="number" matInput formControlName="project_volume" placeholder="Ingresa el volumen del proyecto"/>
          <mat-error
            *ngIf="registerForm.controls['project_volume'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <label>Unidades compradas</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="number" matInput formControlName="units_purchased" placeholder="Ingresa las unidades compradas"/>
          <mat-error
            *ngIf="registerForm.controls['units_purchased'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <label>Precio proforma</label>
        <mat-form-field class="w-100" appearance="outline">
          <input type="number" matInput formControlName="price_proforma" placeholder="Ingresa el precio proforma"/>
          <mat-error
            *ngIf="registerForm.controls['price_proforma'].hasError('required')"
          >
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end" class="mat">
        <div></div>
        <div>
          <button mat-stroked-button color="warn" mat-dialog-close>
            Cancelar
          </button>
          <button
            mat-raised-button
            class="mx-2 btn-primary"
          >
          Crear Volumen
          </button>
        </div>
      </mat-dialog-actions>
  </form>
</div>
