<div class="d-flex">
  <h1 style="font-weight:700; size:36px; line-height: 54px; ">Facturas de Clientes</h1>
  <p style="font-weight: 300; size: 12px; line-height: 18px; margin: 22px 6px;">Administra las facturas de tus
    clientes</p>
</div>
<div class="d-flex justify-content-between col-12">
  <div style="display:flex; align-items:center">
    <button class="btn-primary" mat-raised-button routerLink="/invoice-clients/add-invoice-clients">Crear
      factura</button>
    <button class="btn-primary mx-3" mat-raised-button (click)="createExcel()">Exportar Excel</button>
    <button class="btn-primary" mat-raised-button (click)="openDialogUploadExcel()">Importar datos</button>
  </div>
  <div class="col-4">
    <mat-form-field class="w-100" appearance="legacy">
      <mat-icon matSuffix>search</mat-icon>
      <mat-label>Buscar...</mat-label>
      <input type="text" matInput #txtTerm (keyup)="search(txtTerm.value)">
    </mat-form-field>
    <span class="button-menu" [matMenuTriggerFor]="menu">
      <i class="material-icons" style="color:black " data-toggle="tooltip" data-placement="right" title="Ajustes"> <img
          src="../../../../../assets/icons/Ajustes.svg" style="width:20px"></i>
    </span>
  </div>
</div>
<!-- <div class="d-flex bd-highlight">
  <div class="mx-auto p-2 bd-highlight"></div>
  <div class="p-2 bd-highlight" style="margin-left: 5rem;">
    <span class="button-menu" [matMenuTriggerFor]="menu">
      <i class="material-icons" style="color:black "> <img src="../../../../../assets/icons/Ajustes.svg"
          style="width:20px"></i>
    </span>
  </div>
  <div class="me-auto p-2 bd-highlight"></div>
</div> -->
<div class="table-responsive mt-4 overflow-auto card">
  <table class="table card-table table-vcenter text-nowrap datatable">
    <thead>
      <tr>
        <th *ngIf="remesaControl.value">
          Remesa
        </th>
        <th *ngIf="nameBusinessControl.value">
          Empresa
        </th>
        <th *ngIf="cecoControl.value">
          Ceco
        </th>
        <th *ngIf="keyClientControl.value">
          No. Cliente
        </th>
        <th *ngIf="clientControl.value">
          Nombre cliente
        </th>
        <th *ngIf="keyInvoiceControl.value">
          No. Factura
        </th>
        <th *ngIf="uploadDateControl.value">
          Fecha Carga
        </th>
        <th *ngIf="invoiceDateControl.value">
          Fecha Factura
        </th>
        <th *ngIf="expirationDateControl.value">
          Fecha Vencimiento
        </th>
        <th *ngIf="invoiceTotalControl.value">
          Total factura
        </th>
        <th *ngIf="invoiceTotalPaymentControl.value">
          A pagar
        </th>
        <th *ngIf="divisaControl.value">
          Divisa
        </th>
        <th *ngIf="tcControl.value">
          T.C.
        </th>
        <th *ngIf="totalMNControl.value">
          Total M.N.
        </th>
        <th *ngIf="descriptionControl.value">
          Descripcion
        </th>
        <th *ngIf="flowIdControl.value">
          Id flujo
        </th>
        <th *ngIf="contractControl.value">
          Contrato
        </th>
        <th *ngIf="checkbookControl.value">
          Bolsa/Chequera
        </th>
        <th class="last" *ngIf="statusControl.value">
          <span>Estado</span>
        </th>
        <th *ngIf="payStatusControl.value">
          Estado de pago
        </th>
        <th class="last" *ngIf="actionsControl.value">
          Acciones
        </th>
        <mat-menu #menu="matMenu">
          <div class="menu-table">
            <mat-checkbox class="example-margin" [formControl]="statusControl" (click)="$event.stopPropagation();">
              Status</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="flowIdControl" (click)="$event.stopPropagation();">
              Id flujo</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="remesaControl" (click)="$event.stopPropagation();">
              Remesa</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="nameBusinessControl"
              (click)="$event.stopPropagation();">
              Empresa</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="cecoControl" (click)="$event.stopPropagation();">Ceco
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="keyClientControl" (click)="$event.stopPropagation();">
              No.
              Client
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="clientControl" (click)="$event.stopPropagation();">
              Nombre cliente
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="keyInvoiceControl" (click)="$event.stopPropagation();">
              No. Factura</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="uploadDateControl" (click)="$event.stopPropagation();">
              Fecha carga</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="invoiceDateControl" (click)="$event.stopPropagation();">
              Fecha factura</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="expirationDateControl"
              (click)="$event.stopPropagation();">Fecha vencimiento</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="invoiceTotalControl"
              (click)="$event.stopPropagation();">
              Total factura</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="invoiceTotalPaymentControl"
              (click)="$event.stopPropagation();">
              A pagar</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="divisaControl" (click)="$event.stopPropagation();">
              Divisa</mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="tcControl" (click)="$event.stopPropagation();">
              T.C
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="totalMNControl" (click)="$event.stopPropagation();">
              Total M.N
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="descriptionControl" (click)="$event.stopPropagation();">
              Descripcion
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="contractControl" (click)="$event.stopPropagation();">
              Contrato
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="checkbookControl" (click)="$event.stopPropagation();">
              Bolsa/Chequera
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="payStatusControl" (click)="$event.stopPropagation();">
              Estado de pago
            </mat-checkbox>
            <mat-checkbox class="example-margin" [formControl]="actionsControl" (click)="$event.stopPropagation();">
              Acciones</mat-checkbox>
            <button mat-raised-button class="btn-update" (click)="updateHeader()">Guardar</button>
          </div>
        </mat-menu>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of filterInvoiceClients | paginate: { itemsPerPage: selectedValue, currentPage: page };
      index as i" style="cursor:pointer">
        <td *ngIf="remesaControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.remesa ? invoice.remesa : 'No'}}</span>
        </td>
        <td *ngIf="nameBusinessControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice?.ceco?.business?.name_short}}</span>
        </td>
        <td *ngIf="cecoControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice?.ceco?.key_ceco_business}}</span>
        </td>
        <td *ngIf="keyClientControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.client.key_client}}</span>
        </td>
        <td *ngIf="clientControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.client.name}}</span>
        </td>
        <td *ngIf="keyInvoiceControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.key_invoice}}</span>
        </td>
        <td *ngIf="uploadDateControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.upload_date | date: 'dd/MM/yyyy'}}</span>
        </td>
        <td *ngIf="invoiceDateControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.invoice_date | date: 'dd/MM/yyyy'}}</span>
        </td>
        <td *ngIf="expirationDateControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.expiration_date | date: 'dd/MM/yyyy'}}</span>
        </td>
        <td *ngIf="invoiceTotalControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{getTotal(invoice) | currency}}</span>
        </td>
        <td *ngIf="invoiceTotalPaymentControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{getTotalPayment(invoice) | currency}}</span>
        </td>
        <td *ngIf="divisaControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.divisa.abbreviation_divisa}}</span>
        </td>
        <td *ngIf="tcControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{typeChange(invoice) === 0 ? 'SIN TIPO DE CAMBIO' : typeChange(invoice)}}</span>
        </td>
        <td *ngIf="totalMNControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{totalMN(invoice) | currency}}</span>
        </td>
        <td *ngIf="descriptionControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.description}}</span>
        </td>
        <td *ngIf="flowIdControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span></span>
        </td>
        <td *ngIf="contractControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span>{{invoice.contract}}</span>
        </td>
        <td *ngIf="checkbookControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span></span>
        </td>
        <td class="text-center" *ngIf="statusControl.value" (click)="goToEditInvoiceClient(invoice)">
          <div *ngIf=" invoice.status === 'draft'"> <span>BORRADOR</span> </div>
        </td>
        <td *ngIf="payStatusControl.value" (click)="goToEditInvoiceClient(invoice)">
          <span></span>
        </td>
        <td class="last" *ngIf="actionsControl.value">
          <i class="fa fa-trash" (click)="delete(invoice)"></i>
          <i class="material-icons" style="color:black; font-size: 15px; margin-left: 15px;"
            (click)="openDialogTracking(invoice)">timeline</i>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 d-flex flex-row-reverse">
  <pagination-controls class="mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true"></pagination-controls>
  <mat-form-field>
    <mat-select [(value)]="selectedValue">
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</div>
